<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles/article.css">
  <title>Novel Thoughts</title>
</head>

<body>
  <header>
    <div class="header">
      Glance A Country From A Novel
    </div>
  </header>
  <div class="main_content">
    <div class="leftside">
      <a href="/">
      <svg width="100px" height="100px" viewBox="0 -0.5 17 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="si-glyph si-glyph-button-arrow-left">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g transform="translate(1.000000, 0.000000)" fill="#434343">
            <path d="M0,8.041 C0,3.652 3.582,0.082 7.985,0.082 C12.386,0.082 15.968,3.652 15.968,8.041 C15.968,12.43 12.386,16 7.985,16 C3.582,16 0,12.43 0,8.041 L0,8.041 Z M14.057,8.041 C14.057,4.708 11.342,1.996 8.006,1.996 C4.669,1.996 1.954,4.708 1.954,8.041 C1.954,11.374 4.67,14.086 8.006,14.086 C11.343,14.086 14.057,11.374 14.057,8.041 L14.057,8.041 Z" class="si-glyph-fill" fill="#405D72">
            </path>
            <path d="M7.975,5.02 L4.071,8.022 L7.976,10.973 L7.976,8.97 L11.116,8.97 C11.461,8.97 11.907,8.646 11.907,8.015 C11.907,7.385 11.424,7.04 11.081,7.04 L7.976,7.04 L7.976,5.02 L7.975,5.02 Z" class="si-glyph-fill" fill="#405D72">
            </path>
          </g>
        </g>
      </svg>
      </a>
    </div>
    <div class="search">
      <form action="/searchArticles" method="POST">
        <span class="search_title">
          <label for="title">Title</label>
          <input type="text" name="title" id="title" placeholder="keywords">
        </span>
        <span class="search_country">
          <label for="country">Country</label>
          <input list="countries" type="text" name="country" placeholder="<%= locals.error ? error :  'Keywords'%>">  
          <%if(locals.countryNames){%>
            <datalist id="countries">
              <%for(let i=0; i< countryNames.length; i++) {%>
                <option value="<%=countryNames[i]%>"></option>
              <%}%>  
            </datalist>
          <%}%>
        </span>
        <span class="search_sort">
          <label for="sort">Sort</label>
          <select name="sort" id="sort">
            <%if(locals.bookSortOptions){
              for(let i= 0; i < bookSortOptions.length; i++){
              %>
              <option value="<%=bookSortOptions[i].value%>">
                <%=bookSortOptions[i].display%>
              </option>
              <%}%>
            <%}%>
          </select>
        </span>
        <span class="search_btn">
          <button name="search" id="search">Search</button>
        </span>
      </form>
    </div>
    <div class="introduction">
      <b>I love travelling. I like reading novels.</b>
      I long for the exotic scenary in those stories, so I may plan a travel to the country. Also, sometimes I would like to know more about a country, so I find a related novel to read. 
      <b>This bi-directional connection enriches my life.</b> 
      That's what I would like to share with you here.
    </div>
    <div class="article">
      <% if (locals.articles && articles.length > 0){
        for (let i = 0; i < articles.length; i++){
      %>
        <div class="card"> 
        <div class="img">
          <img class="img_obj" src="<%=articles[i].img_url%>" width="150px" height="200px">
        </div>
        <div class="card_content">
          <div class="title"><%=articles[i].title%></div>
          <div class="info">
            <span>Date read:</span>
            <span><%=articles[i].read_date_str%></span>
            <span class="empty_span"></span>
            <span>Location:</span>
            <span><%=articles[i].location%></span>
          </div>
          <div class="recommend">
            <span>How strongly I recommend it:</span>
            <span><%=articles[i].recommendation%>/10</span>
          </div>
          <div class="summary">
            <%=articles[i].summary%>
          </div>
          <div class="link">
            <a href="/note/<%=articles[i].note_id%>">Read my notes</a>, or go to the <a target="_blank" href="<%=articles[i].amazon_url%>">Amazon page</a> for details and reviews.
          </div>
        </div>
        </div>
      <%}
      } else {%>
        <div class="no_article">
          <div class="empty_wording">Empty Result</div>
        </div>
      <%}%>
    </div>
  </div>
  <footer>
    <div class="footer">
      <% const yr = new Date().getFullYear() %>
      <p>Copyright © <%=yr%> Althea Chu</p>
    </div>
  </footer>
</body>

</html>